// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 15px;
  outline: 4px solid;
  box-shadow: 1px 6px 10px 5px black;
  margin-bottom: 30px !important;
}

